* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
canvas {
  border: 1px solid rebeccapurple;
}
.toolbox {
  width: 504px;
  padding: 1rem;
  display: flex;
  border: 1px solid rebeccapurple;
  background-color: rebeccapurple;
}
.toolbox > * {
  background-color: #ccc;
  font-size: 2rem;
  padding: 0.25rem;
  display: inline-flex;
  justify-content: center;
  width: 50px;
  margin: 0.25rem;
  border: none;
  height: 50px;
}
